<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Squad Page }}</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/stylesheet.css">
    <script src="https://kit.fontawesome.com/a01a07aa47.js" crossorigin="anonymous"></script>
  </head>
 
<div class="content">
  <div class="music-player">
  
    <img src="" class="image">

 
    <input type="range" value="0" id="progress">

    <div class="controls">
      <div class="fas fa-backward"></div>
      <div class="fas fa-forward"></div>
    </div>

  </div>
</div>

  <body>  
    <h1>{{ Squad Page }}</h1>